body {
  font-family: "Assistant", sans-serif;
}

ul {
  margin-bottom: 10px;
  padding: 0;
}

li {
  list-style: none;
  text-align: left;
}

footer {
  font-size: 10px;
  margin: 20px;
}

.app {
  border: 1px solid;
  border-radius: 25px;
  padding: 15px;
  margin: 20px auto;
  max-width: 300;

  background-image: url("media/daysky.jpg");
  background-size: cover;
  filter: brightness(140%);
}

.today {
}

.temp {
}

.weather-details {
}

.search-form {
  max-width: 650px;
  background-color: lightgrey;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 10px;
}

.col-2 {
  display: block;
  text-align: center;
  margin: 5px;
  padding-left: 100px;
  max-width: 300px;
  border: 1px solid;
  border-radius: 60%;
  padding: 20px;
}
